@import "../../../css/variables"
.root__info-block
    position: relative
    margin-bottom: 30px

.advertisment-detail
    flex-direction: column
    width: 100%
    height: 100%
    display: flex
    align-items: flex-start
    max-width: 1200px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px
    border-radius: 5px

    &-block
        display: flex
        flex-direction: column
        align-items: center

    &__main-info
        width: 100%
        height: 100%
        display: flex
        flex-direction: row
        align-items: flex-start
        margin-bottom: 20px

        &__main
            width: 70%
            height: 100%
            display: flex
            flex-direction: column
            align-items: center

            &__text
                width: 100%
                height: 100%
                display: flex
                flex-direction: row
                justify-content: space-between

                &__name
                    font-size: 24px
                    padding: 10px
                    margin-left: 10px

                &__favourite
                    margin: 6px 0
                    width: auto

                    &__icon
                        margin-right: 5px

            &__gallery
                width: -webkit-fit-content
                width: -moz-fit-content
                width: fit-content
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                position: relative

                &__image-block
                    width: 100%
                    height: 400px
                    position: relative
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    background-color: #373f47
                    margin: 10px

                    &__image
                        object-fit: cover
                        width: 100%
                        height: 100%

                &__roundabout
                    height: 100px
                    width: 100%
                    display: flex
                    flex-direction: row
                    align-items: flex-start
                    justify-content: flex-start

                    &__image
                        height: inherit
                        width: auto
                        margin: 0 5px

        &__shop
            height: 100%
            display: flex
            flex-direction: column
            align-items: flex-start
            padding: 54px 10px 10px
            margin: 0 auto

            &__price
                font-size: 20px
                font-weight: 500
                margin-bottom: 10px
            &__salesman
                height: 100%
                width: 100%
                display: flex
                flex-direction: row
                align-items: center
                justify-content: flex-start
                
                &__info
                    &__name
                        text-decoration: none
                        color: $text-input-border-color

                &__avatar
                    -o-object-fit: cover
                    object-fit: cover
                    width: 30px
                    height: 30px
                    border: none
                    border-radius: 50%
                    & > a
                        width: inherit
                        height: inherit
                        border: inherit
                        border-radius: inherit
                        & > img
                            width: inherit
                            height: inherit
                            border: inherit
                            border-radius: inherit
                &__info
                    height: 100%
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    justify-content: flex-start
                    margin-left: 20px
                    &__rate
                        display: flex
                        flex-direction: row
                        align-items: flex-start
                        justify-content: flex-start

        &__button
            margin: 6px 0

    &__add-info
        width: 70%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center

    &__add-info__location
        width: 100%
        padding: 20px

    &__add-info__location__name-block
        width: 100%
        height: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        &__text
            display: flex
            flex-direction: row
            justify-content: flex-start
        &__icon
            fill: #000
            width: 20px
            height: 20px
            margin-right: 10px


    &__add-info__location__map
        width: 100%
        height: 300px
        display: none
.advertisment-detail__add-info__condition-block::after, .advertisment-detail__add-info__published-date-block::after
    content: ""
    position: absolute
    left: 0px
    right: 0px
    bottom: 0px
    height: 1px
    background-color: rgb(220, 220, 220)

#YMapsIDNewAd
    width: inherit
    height: inherit
.advertisment-detail__add-info__location__toogle
    display: none

    &:checked+.advertisment-detail__add-info__location__map
        display: block
        margin-top: 30px

.advertisment-detail__add-info__location__name-block__maps-label
    color: #54a5f3

    &:hover
        cursor: pointer

    &_close::after
        content: "\2193"

    &_open::after
        content: "\2191"

.advertisment-detail__add-info__location__toogle
    display: none

    &:checked+.advertisment-detail__add-info__location__map
        display: block

.advertisment-detail__add-info__published-date-block
    width: 100%
    padding: 20px
    position: relative
    margin: 0

.advertisment-detail__add-info__condition-block
    width: 100%
    padding: 20px
    position: relative
    margin: 0

.advertisment-detail__add-info__description
    margin-top: 15px

.advertisment-detail__add-info__description-block
    width: 100%
    padding: 20px
    position: relative
    margin: 0

.advertisment-detail__capture
    font-size: 16px
    font-weight: 400


@media screen and (max-width: 800px)
    .advertisment-detail__main-info
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: flex-start

        &__main
            width: 100%
            &__text
                &__favourite
                    font-size: 16px

    .advertisment-detail__add-info
        width: 100%

@media screen and (max-width: 600px)
    .advertisment-detail__main-info__main__text
        flex-direction: column
        align-iems: center

@media only screen and (max-device-width: 480px)
    .gallery__prev-button, .gallery__next-button
        top: 55%

.slideshow-container
    max-width: 1000px
    position: relative
    margin: auto

.mySlides
    display: none

.advertisment-detail__main-info__main__dot-container
    text-align: center

.gallery__prev-button, .gallery__next-button
    cursor: pointer
    position: absolute
    top: 30%
    width: auto
    padding: 16px
    color: white
    font-weight: bold
    font-size: 18px
    border-radius: 0 3px 3px 0
    background-color: rgba(0,0,0,0.4)

.gallery__prev-button
    place-self: start

.gallery__next-button
    place-self: end
    

.gallery__prev-button:hover, .gallery__next-button:hover
    background-color: rgba(0,0,0,0.8)

.dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 2px
    background-color: #bbb
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease

.active-hover, .dot:hover
    background-color: #717171

.fade
    -webkit-animation-name: fade
    -webkit-animation-duration: 1.5s
    animation-name: fade
    animation-duration: 1.5s
