.button {
    width: 230px;
    height: 44px;
    margin: 6px 0;
    padding: 9px 0;
    border: none;
    border-radius: 9px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@media only screen and (max-device-width: 480px) {
    .button {
        margin: 3px;
    }
}

.button:hover {
    background-color: var(--button-background-color_hover);
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.profile-content__button {
    color: black;
    background-color: transparent;
    font-weight: 500;
    text-align: left;

    display: flex;
    align-items: center;
}

.profile-content__button_active {
    color: var(--button-background-color);
    background-color: transparent;
    font-weight: 500;
    text-align: left;

    display: flex;
    align-items: center;
}

.profile-content__button:hover {
    color: var(--button-background-color);
    background-color: transparent;
}

.profile-content__button_active:hover {
    color: var(--button-background-color);
    background-color: transparent;
}

.profile-content__button > * {
    display: inline-block;
}

.profile-content__button_icon {
    fill: black;
    margin-right: 7px;
    height: 18px;
    width: 18px;
}

.profile-content__button_icon_active {
    fill: var(--button-background-color);
    margin-right: 7px;
    height: 18px;
    width: 18px;
}

.profile-content__button:hover .profile-content__button_icon {
    fill: var(--button-background-color);
}