:root {
    --radio-color: #004ad7;
}

.single-choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    position: relative;
    width: 280px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.single-choice__capture {
    margin: 5px 0;
}

.single-choice__label {
    display: flex;
    justify-content: left;
    align-items: center;
}

.single-choice__radio-button-block {
    position: relative;
    display: flex;
    justify-content: left;
}

.single-choice__radio-button {
    opacity: 0;
}

.single-choice__variant {
    transform: translateX(5px);
}

.single-choice__radio-button:checked~.single-choice__radio-button-block {
    background-color: red;
}

.single-choice__radio-button:checked~.single-choice__fake-radio-button {
    border-width: 4px;
}

.single-choice__fake-radio-button {
    margin: 0;
    height: 16px;
    width: 16px;
    border: 2px solid var(--radio-color);
    border-radius: 50%;
}