.profile__settings-elem {
  margin-top: 1%;
}

.settings-elem__title {
  height: 27px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  color: #000000;
}

.settings-elem__input {
  margin-top: 1%;
  text-align: left;
  width: 330px;
  height: 54px;

  background: #ffffff;
  border: 1px solid #6eb9ff;
  box-sizing: border-box;
  border-radius: 34px;

  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

#settings__change-password {
  margin-left: 50px;
  margin-top: 1.5%;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

.btn-2 {
  background-color: #99c793;
  border-radius: 50px;
  overflow: hidden;
}

  .btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
  }

  .btn-2:hover {
    background-color: darken(#99c793, 30%);
  }

  .btn-2:hover::before {
      right: 75%;
    }
