<div class="modal-window__sign-up form-container">
  <form class="modal-window__form">
    <h1 class="modal-window__title modal-window__title_black">Создать аккаунт</h1>
    <div id="regEmail" class="text-input">
      <label class="text-input__label">email</label>
      <input class="text-input__input" type="text" />
      <span class="text-input__description">Введите валидный email</span>
    </div>
    <div id="regName" class="text-input">
      <label class="text-input__label">Имя</label>
      <input class="text-input__input" type="text" />
      <span class="text-input__description">Должно быть от 2-х символов</span>
    </div>
    <div id="regSurname" class="text-input">
      <label class="text-input__label">Фамилия</label>
      <input class="text-input__input" type="text" />
      <span class="text-input__description">Должна быть от 2-х символов</span>
    </div>
    <div id="regPassword" class="text-input">
      <label class="text-input__label">Пароль</label>
      <input class="text-input__input" type="password" placeholder="От 5 символов"/>
      <span class="text-input__description">Должен быть от 5-ти символов</span>
    </div>
    <div id="regRepPassword" class="text-input">
      <label class="text-input__label">Повторите пароль</label>
      <input class="text-input__input" type="password" />
      <span class="text-input__description">Пароли должны совпадать</span>
    </div>
    <button id="regButton" class="modal-window__form-button button">Создать</button>
  </form>
</div>

<div class="modal-window__sign-in form-container">
  <form class="modal-window__form">
    <h1 class="modal-window__title modal-window__title_black">Войти</h1>
    <div id="logEmail" class="text-input">
      <label class="text-input__label">email</label>
      <input class="text-input__input" type="email" />
      <span class="text-input__description">Такого пользователя не существует</span>
    </div>
    <div id="logPassword" class="text-input">
      <label class="text-input__label">Пароль</label>
      <input class="text-input__input" type="password"/>
      <span class="text-input__description">Неверный пароль</span>
    </div>
    <button id="logButton" class="modal-window__form-button button">Войти</button>
  </form>
</div>

<div class="modal-window__overlay-container">
  <div class="modal-window__overlay">
    <div class="modal-window__overlay-panel modal-window__overlay-panel_left">
      <h1 class="modal-window__title modal-window__title_white">Добро
        пожаловать!</h1>
      <p class="modal-window__capture modal-window__capture_white">Для
        совершения покупок, пожалуйста, войдите в сервис</p>
      <button
        id="overlay-sign-in"
        class="button modal-window__overlay-button"
      >Войти</button>
    </div>
    <div class="modal-window__overlay-panel modal-window__overlay-panel_right">
      <h1 class="modal-window__title modal-window__title_white">Привет!</h1>
      <p class="modal-window__capture modal-window__capture_white">Введите ваши
        данные и совершите свою первую покупку вместе с Volchok</p>
      <button
        id="overlay-sign-up"
        class="button modal-window__overlay-button"
      >Создать</button>
    </div>
  </div>
</div>