.content404 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: var(--color-soft-black);
}

.image404 {
    width: 100%;
    height: 400px;
    margin: auto;
}

.content404>div * {
    display: block;
}

.image404>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content404 h1, .content404 p {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.content404 a {
    background-color: var(--button-background-color);
    margin: auto;
    text-align: center;
    border: 2px solid var(--color-soft-blue);
    border-radius: 10px;
    width: 300px;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: 16pt;
    transition: all 0.5s ease;
}
