body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Montserrat", Verdana, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    margin: 0;
    height: 100%;
    flex: 1 1 auto;
    padding: 30px;
}

footer {
    background-color: var(--color-soft-black);
    padding: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    flex-shrink: 0;
}

header {
    background: var(--color-soft-black);
    font-family: "Montserrat", Verdana, sans-serif;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > .nav_menu {
    text-align: center;
}

header > .nav_menu > * {
	margin: 0;
    margin-right: 10px;
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

header > .nav_menu > a:hover {
    color: var(--color-soft-blue);
}

header > .nav_menu > li:hover {
    cursor: pointer;
    color: var(--color-soft-blue);
}

header li.dropdown_item {
  width: 150px;
  height: 150px;
}

header li.dropdown_item > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.05s ease;
}

header li.dropdown_item > a > img:hover {
    cursor: pointer;
    border-color: var(--color-soft-blue);
}

.dropdown {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 1;
}

.dropdown:hover {
   cursor: pointer;
}
     
.dropdown:hover .dropdown_menu li {
    display: block;
}

.dropdown_menu > .logout_item {
    padding-top: 0;
    width: 150px;
    text-align: center;
}

.dropdown_menu > .logout_item > a {
    text-decoration: none;
    color: black;
    border: none;
    transition: border-color 0.2s ease;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.dropdown_menu > .logout_item > a:hover {
    border-color: var(--color-soft-blue);
}
   

.dropdown_menu {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;
    left: -40%;
    top: inherit;
    margin: 0;
    z-index: 20;
}

.dropdown_menu > li {
    display: none;
    
    padding: 20px;
    opacity: 0;
    left: inherit;
    top: inherit;
  
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.dropdown_menu > li:hover {
    cursor: default;
}
   
.dropdown:hover .dropdown_menu--animated {
    display: block;
}
.dropdown_menu--animated {
    display: none;
}
.dropdown_menu--animated > li {
      display: block;
      opacity: 1;
}

.dropdown_menu-9 {
    animation: growOut 300ms ease-in-out forwards;

    transform-origin: top center;
}

@keyframes growOut {
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}
