.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #08e4d1;
    position: sticky;
    top: 0;
    transition: 1s;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.search, .searchBtn {
  border: none;
  outline: none;
  border-radius: 3px;
}
.search {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.searchBtn {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}
.searchBtn:before {
  content: "\1433";
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #0ae07c;
    position: sticky;
    top: 95%;
    transition: 1s;
    border-radius: 25%;
}

.header > .elem {
    color:blue;
    font-family: sans-serif;
    font-size: large;
}
