.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #08e4d1;
    position: sticky;
    top: 0;
    transition: 1s;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.search, .searchBtn {
  border: none;
  outline: none;
  border-radius: 3px;
}
.search {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.searchBtn {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}
.searchBtn:before {
  content: "\1433";
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #0ae07c;
    position: sticky;
    top: 100%;
    height: 40px;
}

.header > .elem {
    color:blue;
    font-family: sans-serif;
    font-size: large;
}

.ads-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
}

.new-ad {
    margin-right: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}

.new-ad::before {
    content: "Новое объявление";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}

.content {
    text-align:center;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.inner-content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
  }
  
.inner-content > .promoted-ads {
}

.inner-content > .categories {
    padding-right: 20%;
    width: 90%;
}

.ads-container {
    clear: both;
    text-align: justify;
}

.ads-element {
    margin: 7px;
    margin-bottom: 20px;
    outline: 2px solid #000;
    display: inline-block;
    width: 25%;
    border-color: blanchedalmond;
    border-radius: 3;
}