.product-path {
    display: block;
    padding-left: 2rem;
    padding-top: 2rem;
}

.product-path > * {
    display: inline;
}

.product-grid {
    padding: 2rem;
}

.product-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.product-grid > ul > li {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-grid > ul > li > a {
    width: 100%;
}

.product-grid > ul > li > a > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
}

.product-grid > ul > li > a > figure > img {
    width: 100%;
}

.product-grid > ul > li > a > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.product-grid > ul > li > a > figure > figcaption > h3 {
    color: white;
    padding-left: 0.75rem;
    font-size: 1rem;
}

.product-grid > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    color: black;
    margin-top: 0;
    padding-top: 0;
}

footer {
    background-color: #333;
    padding: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    flex: 0 0 auto;
}