.product-path {
    display: block;
    padding-left: 2rem;
    padding-top: 1rem;
}

.product-path>ul>* {
    display: inline;
}

.product-path li {
    margin: 0;
    padding: 0;
}

.product-path a {
    text-decoration: none;
}

.product-path li::after {
    content: '/';
    margin-left: 5px;
    margin-right: 4px;
}

.product-path li:last-child>a {
    color: var(--color-unactive-input);
}

.product-path li:last-child::after {
    content: '';
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr repeat(16, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.product-grid p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: black;
}

.product-grid .cards {
    grid-column: 2 / span 16;
    display: grid;
    grid-template-columns: repeat(16, minmax(auto, 60px));
    grid-gap: 40px;
}

.product-grid .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: var(--color-soft-white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.product-grid .card:hover {
    transform: translateY(-7px);
}

.product-grid a {
    text-decoration: none;
}

.product-grid .image-container {
    width: 100%;
    /*padding-top: 56.25%;*/
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    background-color: #181A18;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-grid figure {
    margin: 0;
    padding: 0;
}

.product-grid .image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-grid .image-container figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: var(--color-soft-white);
    padding: 16px;
}

.product-grid .card-info {
    padding: 20px;
    display: flex;
    align-self: end;
    align-items: center;
}

.product-grid .card_price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1300px) {
    .product-grid {
        grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    }
    .product-grid .cards {
        grid-column: 2 / span 12;
        grid-template-columns: repeat(12, minmax(auto, 60px));
    }
    .product-grid .card {
        grid-column-end: span 4;
    }
}

@media only screen and (max-width: 1000px) {
    .product-grid .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .product-grid {
        grid-gap: 20px;
    }
    .product-grid .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    .product-grid {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .product-grid .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .product-grid .card {
        grid-column-end: span 6;
    }
}