.product-path {
    display: block;
    padding-left: 2rem;
    padding-top: 2rem;
}

.product-path > * {
    display: inline;
}

.product-grid {
    padding: 2rem;
}

.product-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.product-grid > ul > li {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-grid > ul > li > a {
    width: 100%;
}

.product-grid p.price {
    font-size: 18pt;
    margin: 0;
    padding: 5;
    margin-right: 20px;
    text-align: right;
}

.product-grid > ul > li > a > * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.product-grid figure {
    margin: 0;
    height: 300px;
    width: inherit;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all 0.35s ease;
}

.product-grid figure > img {
    object-fit: cover;
    height: 100%;
    transition: transform 0.5s ease;
}

.product-grid figure > img:hover {
    transform: scale(1.1);
}

.product-grid figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.product-grid figcaption > h3 {
    color: white;
    padding-left: 0.75rem;
    font-size: 1rem;
}

.product-grid > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    color: black;
    margin-top: 0;
    padding-top: 0;
}