/* Для профиля */
.inner-profile-content {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  margin-top: 20px;
}
.profile-block {
  width:fit-content;
  height: fit-content;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.profile-block > img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.nickname {
  margin: 10px;
  font-size: larger;
  font-family: sans-serif;
}

.rating {
  margin: 10px;
  font-size: larger;
  font-family: sans-serif;
}

.profile-btn {
  width: 150px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  border: #1071ff 1px solid;
  color: #1071ff;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px auto;
  transition: 0.5s;
  border-radius: 0px;
}
.profile-btn:hover {
  top: 5px;
  transition: 0.5s;
  color: #0dca46;
  border: #0dca46 1px solid;
  border-radius: 10px;
}
.profile-btn:active {
  color: #000;
  border: #1a1a1a 1px solid;
  transition: 0.07s;
  background-color: #fff;
}

.profile-info {
  width: 80%;
  margin-right: 5%;
}

.profile-info > h1 {
  padding-left: 4rem;
}

.nickname {
  text-align: center;
  margin: 20px;
  padding: 3px;
}

.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

