.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
}

.search_term {
  width: 100%;
  border: 3px solid var(--color-soft-blue);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--color-unactive-input);
  font-size: 16px;
}

.search_term:focus {
  color: var(--color-soft-black);
}

.search_button {
  width: 50px;
  height: 36px;
  border: 1px solid var(--color-soft-blue);
  background: var(--color-soft-blue);
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.categories {
  margin: 0;
  margin-right: 10px;
  position: absolute;
  margin-left: -50%;
  width: 36px;
  min-height: 200px;
  height: 100px;
  font-size: 12px;
  z-index: 10;
}

.categories p {
  margin: 0;
  margin-bottom: 10px;
  border-radius: 2px;
  position: relative;
  background: var(--color-soft-blue);
  height: 36px;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  transform: rotate(90deg);
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
  transition: all .4s;
}

input[type="checkbox"] {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  height: 36px;
}

#categories_toogle:checked~ul {
  height: 0%;
  z-index: -1;
}

nav.categories ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: left;
  transition: all .4s ease-out;
  height: 100%;
  width: 100px;
  z-index: 10;
}

nav.categories ul li {
  border-bottom: 1px solid var(--color-soft-blue);
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  background: white;
  transition: background .5s;
}

nav.categories ul li:hover {
  background: var(--color-soft-blue);
  transition: background .5s;
}

nav.categories ul a {
  display: block;
  padding: 5px;
  color: var(--color-soft-black);
  text-decoration: none;
  transition: color .3s;
}