<div class="modal" id="modal-1">
    <div class="modal__content">
      <button class="modal__close-button"><img src="/static/img/close.svg" width="12" alt=""></button>
      <!-- Контент модального окна -->
      <h2 class="modal__title">По какой причине вы хотите удалить объявление?</h2>
      <button class = 'modal__button button' id='modal__button-to-archive'>Продал на Волчке</button>
      <button class = 'modal__button button' id='modal__button-delete'>Другая причина</button>
    </div>
</div>