<div class="chats-inner" id="chats-content">

  <div class="chats-list" id="chats-content-list"><div
      class="chat-list"
      id="chat-list"
    >
      <div
        class="chat-list-inner"
        id="chat-list-content"
        data-action="chatClick"
      >

        {{#each dialog}}
          <div class="one-chat one-chat_open" dataset='{{user2}}' advertId='{{adv}}'>
            <div class="one-chat-inner">

              <div class="one-chat-content">
                <div class="one-chat-avatars">
                  <img
                  />
                </div>

                <div class="one-chat-info">
                  <div class="one-chat-info-title">
                    <span class="one-chat-info-title__user-name">Юзер айди {{user2}}</span>
                  </div>

                </div>
              </div>

              <div class="one-chat__separator"></div>

            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>

</div>