@import "../../../css/variables"
.chats
    width: 80%
    height: 60vh
    border: 0
    border-radius: 1vh
    -webkit-box-shadow: 0 0 1vw rgb(0 0 0 / 20%)
    box-shadow: 0 0 1vw rgb(0 0 0 / 20%)
    overflow: hidden

    &-inner
        display: flex
        flex-direction: row

    &-list
        width: 30%
        height: 100%

        &-inner
            height: 100%
            overflow: scroll
            overflow-x: hidden

.one-chat
    width: 100%
    cursor: pointer

    &-inner
        display: flex
        flex-direction: column
        padding-left: 1.5vh
        padding-right: 1.5vh
        padding-top: 1.5vh

    &-content
        width: 100%
        display: flex
        flex-direction: row

    &__separator
        border-top: 1px solid #e3e3e3
        margin-bottom: 1vh
        margin-bottom: 0
        width: 100%
        margin-top: 1vh
        margin-left: auto

.chat-list
    height: 60vh

    &-inner
        height: 100%
        overflow: scroll
        overflow-x: hidden

.chats-message
    width: 70%
    height: 100%

.chat-message
    width: 100%
    height: 60vh

    &-inner
        width: 100%
        height: 100%
        display: -webkit-box
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        flex-direction: column

    &-body
        display: flex
        flex-direction: column
        flex-grow: 1
        height: 100%
        overflow: scroll
        overflow-x: hidden

.chat-message-send
    width: 100%
    height: 9vh
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    &-form
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

    &-inner
        width: 100%


    &-form
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        &__msg
            height: 4vh
            font-size: 2vh
            border: 1px solid
            box-sizing: border-box
            border-radius: 0.5vh
            padding-left: 10px
            width: calc(100% - 18vh)
            margin-right: 2vh

        &__sbm
            width: 10vh

.chat-message-head
    height: fit-content
    border-bottom: 1px solid #e3e3e3

    &-inner
        display: flex
        flex-direction: row
        align-items: center
        padding: 0.5vh 1.5vh

.user-message
    width: 100%

    &-inner
        padding: 0.5vh

    &-block
        background-color: $button-background-color
        width: fit-content
        word-break: break-all
        max-width: 60%
        margin-left: auto
        margin-bottom: 0.5vh
        color: white
        border-radius: 2vh

        &-inner
            padding: 1vh

        &__text
            font-size: 1.5vh
            color: $button-text-color

    &__date
        margin-left: auto
        width: fit-content
        color: #7a7a7a


/* скрытие имени пользователя на мобилке */
@media only screen and (max-device-width: 480px)
    .chats
        width: 100%