    
    {{#if companion}}
      <div class="chat_history_element__companion">
    {{else}}
    <div class="chat_history_element__user">
    {{/if}}
        <div class="chat_history_element_message">{{text}}</div>
        <div class="chat_history_element_time">{{time}}</div>
    </div>
