<div
    class="chat-message"
    id="chat-message"
  >
    <div class="chat-message-inner">

      <div class="chat-message-head">
        <div class="chat-message-head-inner">
          <div class="chat-message-head-avatar">
            <a href="/product/198" class="chat-message-head-avatar__href">
              <img
                alt="Заглушка аватарки объявления"
                class="chat-message-head-avatar__img"
              />
            </a>
          </div>

          <div class="chat-message-head-info">
            <a href="/user/78/ad" class="chat-message-head-info-user">
              <span class="chat-message-head-info-user__name"></span>
            </a>

            <a href="/product/198" class="chat-message-head-info-product">
              <span class="chat-message-head-info-product__link">Заглушка Названия</span>
              <span>&nbsp;•&nbsp;</span>
              <span class="chat-message-head-info-product__amount">Заглушка цены</span>
            </a>
          </div>
        </div>
      </div>

      <div class="chat-message-body" id="chat-message-body">
        <div class="chat-message-body-inner" id="chat-message-content">
        </div>
      </div>

      <div class="chat-message-send">
        <div class="chat-message-send-inner">
          <form class="chat-message-send-form" id="chat-message-form">
            <input
              class="chat-message-send-form__msg"
              id="chat-message-input"
              type="text"
              maxlength="1000"
            />
            <input
              class="chat-message-send-form__sbm button"
              type="submit"
              value="Отправить"
            />
          </form>
        </div>
      </div>

    </div>
  </div>
