
    <div class="chat_order_image-container">
      <img
        class="chat_order_image"
        src="https://www.mirf.ru/wp-content/uploads/2021/05/JoJos-Bizarre-Adventure-12-1024x576.jpg"
      />
    </div>
    <p class="chat_order_name">Картина</p>
    <p class="chat_order_location">Москва, улица Ленина</p>
    <p class="chat_order_price">100 р</p>
