<div class="root__profile-content profile-content">
  <div class="profile-content_left">
    <h3
      class="profile-content__title profile-content__title_center"
    >Профиль</h3>
    <div class="profile-content__personal">
      <div class="profile-content__avatar">
        <img
          class="profile-content__avatar__image"
          src="{{userAvatar}}"
          onerror="this.onerror=null;this.src='{{userAvatar}}';"
        />
      </div>
      <p class="profile-content__username">{{userName}}</p>
      <div class="profile-content__rating stars">
        {{#each star}}
          <svg
            class="stars__star star_active"
            width="32"
            height="30"
            viewBox="0 0 32 30"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9412 0L21.3399 9.20457L31.8235 11.459L24.6765 19.4021L25.757 30L15.9412 25.7046L6.12535 30L7.20589 19.4021L0.0588379 11.459L10.5425 9.20457L15.9412 0Z"
            ></path>
          </svg>
        {{/each}}
        {{#each emptyStar}}
          <svg
            class="stars__star star_unactive"
            width="32"
            height="30"
            viewBox="0 0 32 30"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9412 0L21.3399 9.20457L31.8235 11.459L24.6765 19.4021L25.757 30L15.9412 25.7046L6.12535 30L7.20589 19.4021L0.0588379 11.459L10.5425 9.20457L15.9412 0Z"
            ></path>
          </svg>
        {{/each}}
      </div>
      {{#if isRated}}
      <p class="profile-content__rate">Вы оценили пользователя на {{rate}} &#9733;</p>
      {{/if}}
    </div>
  </div>
  <div class="profile-content_right">
    <h3 class="profile-content__title">Объявления</h3>
  </div>
</div>