<div class="new-advert">
  <div class="new-advert__title">
    <h3 class="title">Новое объявление</h3>
  </div>
  <div class="text-input new-advert__name">
    <label class="text-input__label">Название</label>
    <input class="text-input__input" type="text" />
    <span class="text-input__description">Ошибка в названии</span>
  </div>
  <div class="text-input new-advert__category">
    <label class="text-input__label">Категория</label>
    <select class="category__select" id="selCategory"></select>
  </div>
  <div class="textarea new-advert__description">
    <label class="textarea__label">Описание объявления</label>
    <textarea class="textarea__textarea" rows="10"></textarea>
  </div>

  <div class="new-advert__state single-choice">
    <p class="single-choice__capture">Состояние</p>
    <div class="single-choice__radio-button-block">
      <label class="single-choice__label" for="radio-new">
        <input
          class="single-choice__radio-button"
          name="radio"
          id="radio-new"
          type="radio"
        />
        <div class="single-choice__fake-radio-button"></div>
        <p class="single-choice__variant">Новое</p>
      </label>
    </div>
    <div class="single-choice__radio-button-block">
      <label class="single-choice__label" for="radio-old">
        <input checked
          class="single-choice__radio-button"
          name="radio"
          id="radio-old"
          type="radio"
        />
        <div class="single-choice__fake-radio-button"></div>
        <p class="single-choice__variant">Б/У</p>
      </label>
    </div>
  </div>

  <div class="text-input new-advert__price">
    <label class="text-input__label">Цена</label>
    <input class="text-input__input" type="text" />
    <span class="text-input__description">Ошибка в цене</span>
  </div>

  <div class='new-advert__photos'>
    <h3 class = "new-advert-photos__title">Загрузите фотографии</h3>
    <input type="file" class="new-advert__images" multiple />
  </div>

  <div class="text-input new-advert__location">
    <label class="text-input__label">Адрес</label>
    <input class="text-input__input" type="text" />
    <span class="text-input__description">Неверное местоположение</span>
  </div>

  <div id="YMapsID"></div>
  <button class="button" id="newAdForm">Опубликовать</button>
</div>