
  <div class="root__category-container">
      <div class="root__category__content">
          <div class="root__category__content-title">
              {{categoryWelcome}}
          </div>
          <div class="root__category__content-categories">
              {{#each category}}
            <div class="root__category__content-categories-card">
                <a class="root__category__content-categories-card-title" href="/category/{{href}}" dataset="{{href}}">{{name}}</a>
            </div>
             {{/each}}
          </div>
      </div>
  </div>
