<h3 class="profile-content__title"> Настройки </h3>
<div class="profile__settings-elem">
  <div class="settings-elem__title">
    Имя
    <img src="https://volchock.ru/static/img/edit.jpg" width="24" height="24" />
  </div>
  <input class="settings-elem__input" placeholder="{{userName}}" disabled />
</div>
<div class="profile__settings-elem">
  <div class="settings-elem__title">
    Фамилия
    <img src="https://volchock.ru/static/img/edit.jpg" width="24" height="24" />
  </div>
  <input class="settings-elem__input" placeholder="{{userSurname}}" disabled />
</div>
<div class="profile__settings-elem">
  <div class="settings-elem__title">
    Электронная почта
    <img src="https://volchock.ru/static/img/edit.jpg" width="24" height="24" />
  </div>
  <input class="settings-elem__input" placeholder="{{userEmail}}" disabled />
</div>

<div class="profile__settings-elem">
  <input type="file" id="file" />
  <label for="file" class="btn-2">Загрузить фотографию</label>
</div>

<div class="profile__settings-elem">
  <div class="settings-elem__title">
    Новый пароль
  </div>
  <input class="settings-elem__input" placeholder="" type="password" />
</div>
<div class="profile__settings-elem">
  <div class="settings-elem__title">
    Повторите пароль
  </div>
  <input class="settings-elem__input" placeholder="" type="password" />
</div>
<button class="button" id="settings__change-password">Изменить пароль</button>