.profile__settings-elem
  margin-top: 1%


  & input
    line-height: 30px

#settings__change-info, #settings__change-uploadPhoto,
#settings__change-password
  margin-left: 25px
  margin-top: 30px

.settings-elem__uploadPhotoInput
  height: 0
  overflow: hidden
  width: 0


  & + .settings-elem__uploadPhotoBtn
    cursor: pointer
    display: inline-block
    margin-bottom: 1rem
    outline: none
    padding: 1rem 30px
    position: relative
    transition: all 0.3s
    vertical-align: middle
    border-radius: 20px
    margin-left: 50px
    background-color: #4fe1e1

.settings-elem__uploadPhotoBtn
  margin-top: 2%
  background-color: var(--button-background-color_hover)
  overflow: hidden

.upload-photo-input__avatar
  border-radius: 50%
