<h3 class="profile-content__title"> Настройки </h3>
<div class="profile__settings-elem">
  <div id="settingName" class="text-input">
    <label class="text-input__label">Имя</label>
    <input class="text-input__input" type="text" placeholder="{{userName}}" />
    <span class="text-input__description">Имя должно быть больше 2 символов</span>
  </div>
</div>
<div class="profile__settings-elem">
  <div id="settingSurname" class="text-input">
    <label class="text-input__label">Фамилия</label>
    <input
      class="text-input__input"
      type="text"
      placeholder="{{userSurname}}"
    />
    <span class="text-input__description">Фамилия должна быть больше 2 символов</span>
  </div>
</div>
<div class="profile__settings-elem">
  <div id="settingEmail" class="text-input">
    <label class="text-input__label">Email</label>
    <input class="text-input__input" type="text" placeholder="{{userEmail}}" />
    <span class="text-input__description">Введите валидную почту</span>
  </div>
</div>

<div class="profile__settings-elem">
  <div id="settingPassword" class="text-input">
    <label class="text-input__label">Новый Пароль</label>
    <input class="text-input__input" type="password" />
    <span class="text-input__description">Должен быть от 5-ти символов</span>
  </div>
</div>
<button class="button" id="settings__change-info"> Изменить информацию </button>

<div class="profile__settings-elem">
  <input class= 'settings-elem__uploadPhotoInput' type="file" id="file" accept="image/*" />
  <label for="file" class="settings-elem__uploadPhotoBtn"><img id='avatar' src="/static/img/photo.png"
  width="100" height="100"></label>
</div>
<button class="button" id="settings__change-uploadPhoto"> Загрузить фотографию </button>
