<ul class="category__list">
  <li class="category__list__main info-block__capture">
    <a href="{{categoryHref}}">{{category}}</a>
  </li>
  <li class="category__list__sub info-block__capture">
    <a href="{{subCategoryHref}}">{{subCategory}}</a>
  </li>
</ul>