<div class="promotion" id="promotion">
  <div class="promotion__title">
    <span>Продвижение</span>
  </div>
  <div class="promotion-tariffs">
    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">Тариф</div>
        <div class="promotion-tariffs-block__type">Базовый</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">У объявления появляется синие свечение</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">2 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>

    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">Тариф</div>
        <div class="promotion-tariffs-block__type">Улучшенный</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">У объявления появляется синие свечение</li>
            <li class="promotion-tariffs-block-description__item">Цена выделяется синим цветом
              красным цветом</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">5 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>

    <div class="promotion-tariffs-block">
      <div class="promotion-tariffs-block-body">
        <div class="promotion-tariffs-block__title">Тариф</div>
        <div class="promotion-tariffs-block__type">Продвинутый</div>
        <div class="promotion-tariffs-block-description">
          <ul class="promotion-tariffs-block-description__list">
            <li class="promotion-tariffs-block-description__item">У объявления появляется синие свечение</li>
            <li class="promotion-tariffs-block-description__item">Цена выделяется синим цветом</li>
            <li class="promotion-tariffs-block-description__item">Название выделяется синим цветом, появляется уникальная эмблема VIP</li>
          </ul>
        </div>
      </div>
      <div class="promotion-tariffs-block-footer">
        <div class="promotion-tariffs-block__price">
          <label for="promotion-tariff-price">8 ₽</label>
        </div>
        <div class="promotion-tariffs-block__button">
        </div>
      </div>
    </div>
    
  </div>
  <div class="promotion-back__btn">
      <button class="button-minor"> Назад </button>
  </div>
</div>