.advert-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advert-detail__main-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.advert-detail__main-info__main {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advert-detail__main-info__shop {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top: 44px;
}

.advert-detail__main-info__main__name {
    font-size: 24px;
    padding: 10px;
    margin-left: 10px;
}

.advert-detail__main-info__main__gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advert-detail__main-info__main__gallery__image-block {
    width: 100%;
    height: 100%;

    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;

    background-color: var(--header-background-color);

    margin: 10px;
}

.advert-detail__main-info__main__gallery__image-block__image {
    max-width: 720px;
    width: inherit;
    height: auto;
}

.advert-detail__main-info__main__gallery__roundabout {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.advert-detail__main-info__main__gallery__roundabout__image {
    height: inherit;
    width: auto;

    margin: 0 5px;
}

.advert-detail__main-info__shop__price {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.advert-detail__main-info__shop__salesman {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.advert-detail__main-info__shop__salesman__avatar {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: lightcoral;
}

.advert-detail__main-info__shop__salesman__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.advert-detail__main-info__shop__salesman__info__rate {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.advert-detail__add-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advert-detail__add-info__location {
    width: 100%;
    padding: 20px;
}

.advert-detail__add-info__location__name-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advert-detail__add-info__location__map {
    width: 100%;
    height: 300px;
    background-color: lightcoral;
    display: none;
}

.advert-detail__add-info__location__toogle {
    display: none;
}

.advert-detail__add-info__location__toogle:checked+.advert-detail__add-info__location__map {
    display: block;
}

.advert-detail__add-info__published-date-block {
    width: 100%;
    padding: 20px;
}

.advert-detail__add-info__description-block {
    width: 100%;
    padding: 20px;
}

.advert-detail__capture {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .advert-detail__main-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .advert-detail__main-info__main {
        width: 100%;
    }

    .advert-detail__main-info__shop {
        width: 100%;
    }

    .advert-detail__add-info {
        width: 100%;
    }
}