.profile-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.profile-content_left {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 30%;
    height: 100%;
}

.profile-content_right {
    width: 70%;
}

.profile-content__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.profile-content__title_center {
    text-align: center;
}

.profile-content__personal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 20px 0;
    padding-bottom: 20px;
}

.profile-content__avatar__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-content__username {
    color: #373f47;
    text-align: center;
    font-weight: 500;
    font-size: 20px;

    margin-top: 10px;
    margin-bottom: 8px;
}

/* рейтинг в виде звезд */
.profile-content__rating {
	width: 100%;
    display: flex;
    justify-content: center;
}

.stars__star {
    margin: 0 1px;
}

.stars__star.star_active {
	fill: var(--star-gold-color);
}

.stars__star.star_unactive {
	fill: transparent;
    stroke: var(--star-gold-color);
    stroke-width: 2;
}

.profile-content__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;

    height: 100%;
    width: 100%;
}

.profile-content__buttons .button{
    margin: 6px 0;
}

.profile-content-right__ads-type {
    font-size: 20px;
    font-weight: 400;
    margin: 0px 40px;
}

.profile-content-right__ads-type:hover{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile-content {
        display: block;
    }

    .profile-content_left {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile-content_right {
        width: 100%;
    }
}