:root {
    --header-background-color: #373F47;
    --search-background-color: #F8F8F8;
    --search-text-default-color: #ACACAC;
    --header-capture-color: #E9E3E6;
}

:root {
    --footer-text-size: 16px;
    --footer-text-color: #E9E3E6;
}

:root {
    --info-block-capture-color: #000000;
    --info-block-capture-size: 20px;
}