.new-ad {
  display: block;
  text-align: center;
  margin: auto;
  width: 20%;
}

.new-ad__title {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;

  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.new-ad-form__input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}

label {
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 20px;
}

.new-ad-form__input[type="text"] {
  width: 100%;
  border: 2.8375px solid #004ad7;
  box-sizing: border-box;
  border-radius: 11.35px;
  font-size: 20px;
  color: black;
}

.new-ad-form__input[type="text"]:focus {
  outline: none;
}

.new-ad-form__textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
  border: 2.8375px solid #004ad7;
  box-sizing: border-box;
  border-radius: 11.35px;
  font-size: 20px;
}

#YMapsID {
  width: 550px;
  height: 450px;
  display: inline-block;
  margin: auto;
  align-self: center;
}
