@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

.wrapper {
    padding: 20px;
    margin-left: 300px;
}