@import "../../../css/variables"
.root__product-grid
    display: grid
    grid-template-columns: 1fr repeat(16, minmax(auto, 60px)) 1fr
    grid-gap: 40px
    padding: 40px 0

    & p
        font-size: 16px
        line-height: 20px
        font-weight: 400
        color: black

    &__product-grid figure
        margin: 0
        padding: 0

.product-grid__cards
    grid-column: 2 / span 16
    display: grid
    grid-template-columns: repeat(16, minmax(auto, 60px))
    grid-gap: 40px

.card
    position: relative
    grid-column-end: span 4
    display: flex
    flex-direction: column
    background-color: #fff
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
    border-radius: 5px
    transition: all 0.3s ease

    & a
        text-decoration: none

    &:hover
        transform: translateY(-7px)

    &__image-container
        width: 100%
        padding-top: 100%
        overflow: hidden
        position: relative
        background-color: #181A18
        border-top-left-radius: 5px
        border-top-right-radius: 5px

    &__image-container img
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    &__image-container figcaption
        position: absolute
        bottom: 0
        background-color: rgba(0, 0, 0, 0.7)
        width: 100%
        color: #fff
        padding: 16px

    &__image-container__name
        color: $search-background-color

    &__card-info
        padding: 20px
        display: flex
        align-self: end
        align-items: center

    &-info__card_price
        white-space: nowrap
        margin-left: auto
        padding: 5px 20px
        background-color: white
        border-radius: 20px
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5)

    &-info__card_buy
        background-color: rgb(213, 250, 238)
        margin: auto 5px
        padding: 5px
        border-radius: 20px
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5)

    &__delete
        position: absolute
        z-index: 13
        right: -4%
        top: -4%

    &-info__price-and-buy-block
        margin: 5px
        align-items: center
        align-content: center

    &-info__card_buy
        margin-top: 20px
        text-align: center

.profile-content-right__empty-ads
    margin-top: 16px
    padding: 10% 20px
    text-align: center

.profile-content-right-empty-ads-text-block__text
    display: block
    overflow-wrap: break-word
    white-space: pre-line
    line-height: 24px
    font-weight: 400
    font-size: 16px
    color: rgb(61, 61, 61)
    margin-left: auto
    margin-right: auto

@media only screen and (max-width: 1300px)
    .root__product-grid
        grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr

    .product-grid__cards
        grid-column: 2 / span 12
        grid-template-columns: repeat(12, minmax(auto, 60px))

    .card
        grid-column-end: span 4

@media only screen and (max-width: 1000px)
    .card
        grid-column-end: span 6

@media only screen and (max-width: 700px)
    .root__product-grid
        grid-gap: 20px

    .card
        grid-column-end: span 12

@media only screen and (max-width: 500px)
    .root__product-grid
        grid-template-columns: 10px repeat(6, 1fr) 10px
        grid-gap: 10px

    .product-grid__cards
        grid-column: 2 / span 6
        grid-template-columns: repeat(6, 1fr)
        grid-gap: 20px

    .card
        grid-column-end: span 6

    .root__product-grid p
        font-size: 14px
