<div class="price-history_top">{{priceDiv}}</div>
<div class="price-history_axe-x">
    <div class="price-history_axe-x_chert-container">
    </div>
    {{!-- сюда идет дата --}}
    <div class="price-history_axe-x_label-container">
    </div>
  </div>
  <div class="price-history">
    <div class="price-history_horizontals">
      <div class="price-history_horizontals_block"></div>
      <div class="price-history_horizontals_block"></div>
      <div class="price-history_horizontals_block"></div>
      <div class="price-history_horizontals_block"></div>
      <div class="price-history_horizontals_block"></div>
      <div class="price-history_horizontals_block"></div>
    </div>
    {{!-- сюда идут графики --}}
    <div class="price-history_plot">
    </div>
  </div>
  <div class="price-history_axe-y">
      {{!-- сюда идет цена --}}
    <div class="price-history_axe-y_label-container">
    </div>
  </div>