
/* рейтинг в виде звезд */
.rating-result {
	width: 265px;
	margin: 0 auto;
    margin-bottom: 3%;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}
/*  */

.profile-inner-content {
    text-align: center;
    align-items: center;
    margin-left: 5%;
    float: left;
    width: auto;
}

.profile-inner-content__title {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 36px;
    margin-bottom: 10%;
}

.profile__avatar {
    display: block;
    margin-bottom: 3%;
}

.profile__avatar img {
    border-radius: 100%;
}

.profile__username {
    font-size: 22px;
    font-family: "Montserrat", Verdana, sans-serif;
    color: #756A6A;
}

/*  */
.profile-outer-content {
}
